.container {
  max-width: 1000px;
  margin: 0 auto 46px auto;
  font-size: 24px;
  font-weight: 400;
  font-family: inter-regular;
  color: #031f37;
}

.highlight {
  color: #165082;
  font-weight: 600;
  text-transform: uppercase;
}
