.container {
  max-width: 1000px;
  margin: auto;
  font-family: inter-regular;
  color: #165082;
  margin-bottom: 54px;
}

.post_title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
}
